@mixin arrow($pos, $size, $bg-color) {
	width: 0;
	height: 0;
	border: $size solid transparent;
	@include _abbor_el($pos, $bg-color);
}

@mixin arrowbox($pos, $size, $bg-color, $offset:50%) {

	$after-margin: $size * -1px;
	
	position: relative;
	background: $bg-color;
	
	&:after,
	&:before {
		@include _abpos($pos);
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:after {
		border-color: transparent;
		@include _abbor_el($pos, $bg-color);
		border-width: $size;
		@include _abpos_el($pos, $size, $offset);
		@include _abmar_el($pos, $after-margin);
	}

}

@mixin arrowbox($pos, $size, $bg-color, $border-width, $border-color, $offset:50%) {

	$before-margin: ($size + round($border-width * 1.41421356)) * -1px;
	
	@include arrowbox($pos, $size, $bg-color, $offset);
	
	border: $border-width solid $border-color;
	
	&:before {
		border-color: transparent;
		@include _abbor_el($pos, $border-color);
		border-width: $before-margin * -1;
		@include _abpos_el($pos, $size, $offset);
		@include _abmar_el($pos, $before-margin);
	}

}

@mixin _abpos($pos){
	@if $pos == left {
		right: 100;
	}
	@if $pos == right {
		left: 100%;
	}
	@if $pos == up {
		bottom: 100%;
	}
	@if $pos == down {
		top: 100%;
	}
}



@mixin _abpos_el($pos, $size, $offset) {

	// Surely we don't need 12 lines of the same thing to acomplish 6 in a couple of if statements.
	// I'm not sure it'll do any harm to pass offset and add it to size even if it isn't a pixel value... To test...

	@if $pos == left or $pos == right {
		top: $offset + $size;
	}
	@if $pos == up or $pos == down {
		left: $offset + $size;
	}

	/* In case we need to split the maths based on $offset value
	@if $offset == 0 {
		@if $pos == left or $pos == right {
			top: $size;
		}
		@if $pos == up or $pos == down {
			left: $size;
		}
	}
	@if $offset != 0 {
		@if $pos == left or $pos == right {
			top: $offset + $size;
		}
		@if $pos == up or $pos == down {
			left: $offset + $size;
		}
	}
	*/

}

@mixin _abbor_el($pos, $color) {
	@if $pos == left {
		border-right-color: $color;
	}
	@if $pos == right {
		border-left-color: $color;
	}
	@if $pos == up {
		border-bottom-color: $color;
	}
	@if $pos == down {
		border-top-color: $color;
	}
}

@mixin _abmar_el($pos, $margin) {
	@if $pos == left or $pos == right {
		margin-top: $margin;
	}
	@if $pos == up or $pos == down {
		margin-left: $margin;
	}
}