// ==============================================
// Misc helpers and shortcuts
// ==============================================

// Shortcuts --------------------------------

@mixin border-radius($radius: 5px) {
	// prefixes are defined in the settings
  @each $prefix in $prefixes {
    #{$prefix}-border-radius: $radius;
  }

  border-radius: $radius;
}

@mixin box-sizing($type: border-box) {
  // prefixes are defined in the settings
	@each $prefix in $prefixes {
		#{$prefix}-box-sizing: $type;
  }

	box-sizing: $type;
}

@mixin box-shadow($shadow: 1px 1px 2px rgba(0,0,0,0.25)) {
  // prefixes are defined in the settings
  @each $prefix in $prefixes {
    #{$prefix}-box-shadow: $shadow;
  }

  box-shadow: $shadow;
}

@mixin transition($transition) {
  // prefixes are defined in the settings
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

@mixin rotate($rotation) {
  // prefixes are defined in the settings
  @each $prefix in $prefixes {
    #{$prefix}-transform: rotate($rotation);
  }

	transform: rotate($rotation);
}

@mixin transform($scale: 0, $rotate: 0, $trans-x: 0, $trans-y: 0, $skew-x: 0, $skew-y: 0){
  // prefixes are defined in the settings
  @each $prefix in $prefixes {
    #{$prefix}-transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);
  }

  transform: scale($scale) rotate($rotate) translate($trans-x, $trans-y) skew($skew-x, $skew-y);

  //Forces 3D for rotate, makes for smoother edges
  @if $rotate > 0 {
    -webkit-backface-visibility: hidden;
  }

}

@mixin placeholder($color: #DDD) {
	:-moz-placeholder {
		color: $color;
	}
	::-webkit-input-placeholder {
		color: $color;
	}
}

@mixin gradient($orientation, $start-color, $end-color) {

	@if $orientation == 'horizontal' {
		background-color: $end-color;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, right top, from($start-color), to($end-color)); /* Konqueror */
		background-image: -moz-linear-gradient(left, $start-color, $end-color); /* FF 3.6+ */
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $start-color), color-stop(100%, $end-color)); /* Safari 4+, Chrome 2+ */
		background-image: -webkit-linear-gradient(left, $start-color, $end-color); /* Safari 5.1+, Chrome 10+ */
		background-image: -o-linear-gradient(left, $start-color, $end-color); /* Opera 11.10 */
		background-image: -ms-linear-gradient(left, $start-color 0%, $end-color 100%);  /* IE10+ */
		background-image: linear-gradient(left, $start-color, $end-color); /* the standard */

		@if not $disable-filters {
			filter: e(("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",$start-color,$end-color)); /* IE6 & IE7 */
			-ms-filter: ("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",$start-color,$end-color); /* IE8+ */			
		}
		
	}

	@if $orientation == 'vertical' {
		background-color: $end-color;
		background-repeat: repeat-x;
		background-image: -khtml-gradient(linear, left top, left bottom, from($start-color), to($end-color)); /* Konqueror */
		background-image: -moz-linear-gradient($start-color, $end-color); /* FF 3.6+ */
		background-image: -ms-linear-gradient($start-color, $end-color); /* IE10 */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(100%, $end-color)); /* Safari 4+, Chrome 2+ */
		background-image: -webkit-linear-gradient($start-color, $end-color); /* Safari 5.1+, Chrome 10+ */
		background-image: -o-linear-gradient($start-color, $end-color); /* Opera 11.10 */
		background-image: linear-gradient($start-color, $end-color); /* the standard */

		@if not $disable-filters {
			filter: e(("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$start-color,$end-color)); /* IE6 & IE7 */
			-ms-filter: ("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",$start-color,$end-color); /* IE8+ */
		}

	}
	
}

// Helpers --------------------------------

@mixin clearfix() {
	&:before,
	&:after {
	    content: "";
	    display: table;
	}
	&:after {
	    clear: both;
	}
	@if $using-ieclasses == true {
		.ie6 &, .ie7 & {
			zoom: 1;
		}
	}
	@if $using-ieclasses == false {
		*zoom: 1;
	}
}

@mixin inline-block() {
	@if $using-ieclasses {
		display: inline-block;
		.ie7 & {
			display: inline;
			zoom: 1;
		}
	}
	@if not $using-ieclasses {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}
}

@mixin ir() {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin hidden() {
	display: none !important;
	visibility: hidden;
}

@mixin visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	&.focusable:active,
	&.focusable:focus {
	    clip: auto;
	    height: auto;
	    margin: 0;
	    overflow: visible;
	    position: static;
	    width: auto;
	}
}

@mixin size($thesize: 0, $width: 0, $height: 0) {
	
	@if $thesize == 0 {
		width: $width;
		height: $height;
	}
	@if $thesize > 0 {
		width: $thesize;
		height: $thesize;
	}

}


// System --------------------------------

@mixin nudge-l($pos) {
	@if $pos > 0 {
		left: $pos;
	}
}

@mixin nudge-r($pos) {
	@if $pos > 0 {
		right: $pos;
	}
}

@mixin nudge-t($pos) {
	@if $pos > 0 {
		top: $pos;
	}
}

@mixin nudge-b($pos) {
	@if $pos > 0 {
		bottom: $pos;
	}
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}