// ==============================================
// Typography related mixins
// ==============================================

@mixin font-size-rems($px-size){
	$rem-size: $px-size / $base-font-size;
	font-size: "#{px-size}px"; 
	font-size: "#{rem-size}rem";
}

@mixin font-size-ems($target-px-size, $context-px-size:$base-font-size) {
	font-size: ($target-px-size / $context-px-size) * 1em;
}

@mixin font-face( $family-name, $font-path, $font-weight:normal, $font-style:normal, $include-svg:false ) {
	@font-face {
	    font-family: $family-name;
	    src: url('#{font-path}.eot');
	    @if $include-svg {
	    	src: url('#{font-path}.eot?#iefix') format('embedded-opentype'),
	        	 url('#{font-path}.woff') format('woff'),
	        	 url('#{font-path}.ttf') format('truetype'),
				 url('#{font-path}.svg#@{family-name}') format('svg');
	    }
	    @if not $include-svg {
		    src: url('#{font-path}.eot?#iefix') format('embedded-opentype'),
		         url('#{font-path}.woff') format('woff'),
		         url('#{font-path}.ttf') format('truetype');
		}
	    font-weight: $font-weight;
	    font-style: $font-style;
	}
}